
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: auto;
    width: 50%;
    max-width: 700px;
    padding: 2rem 2rem;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    /* margin: 10px 0; */
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #022448;
}

p {
    margin-top: 20px;
    color: #333;
    padding: 40px;
    background-color: #fff;
}
